In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.io as pio

%matplotlib inline
pio.renderers.default='iframe'

pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

# 1.0 Data retrieval

In [2]:
df = pd.read_pickle("../../data_lake/output/df_merged.pkl")

In [3]:
df.head(1)

,TransactionID,isFraud,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist2,P_emaildomain,R_emaildomain,C1,C2,C3,C4,C6,C7,C8,C10,C11,C12,C13,C14,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D12,D13,D14,D15,M4,id_21,id_22,id_23,id_24,id_25,id_26,id_27,id_28,id_29,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,gmail.com,NaN,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New,NotFound,Android 7.0,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

# 2.0 EDA

Check unique

In [4]:
df.nunique()

TransactionID     144233
isFraud                2
TransactionAmt      7830
ProductCD              4
card1               8499
card2                482
card3                103
card4                  4
card5                106
card6                  3
addr1                255
addr2                 72
dist2               1751
P_emaildomain         59
R_emaildomain         60
C1                  1559
C2                  1182
C3                    27
C4                  1202
C6                  1194
C7                  1036
C8                  1236
C10                 1211
C11                 1354
C12                 1126
C13                 1362
C14                  994
D1                   641
D2                   641
D3                   543
D4                   791
D5                   619
D6                   828
D7                   595
D8                 12353
D9                    24
D10                  781
D12                  632
D13                  577
D14                  802
D15                  849
M4                     3
id_21                490
id_22                 25
id_23                  3
id_24                 12
id_25                341
id_26                 95
id_27                  2
id_28                  2
id_29                  2
id_30                 75
id_31                130
id_32                  4
id_33                260
id_34                  4
id_35                  2
id_36                  2
id_37                  2
id_38                  2
DeviceType             2
DeviceInfo          1786
dtype: int64

Check nan columns

In [5]:
df.isna().sum() / df.shape[0]

TransactionID     0.000000
isFraud           0.000000
TransactionAmt    0.000000
ProductCD         0.000000
card1             0.000000
card2             0.006254
card3             0.001193
card4             0.001276
card5             0.006628
card6             0.001234
addr1             0.419093
addr2             0.419093
dist2             0.739359
P_emaildomain     0.092843
R_emaildomain     0.091172
C1                0.000000
C2                0.000000
C3                0.000000
C4                0.000000
C6                0.000000
C7                0.000000
C8                0.000000
C10               0.000000
C11               0.000000
C12               0.000000
C13               0.000000
C14               0.000000
D1                0.001511
D2                0.784266
D3                0.798527
D4                0.550949
D5                0.770684
D6                0.532888
D7                0.749433
D8                0.480521
D9                0.480521
D10               0.519999
D12               0.591571
D13               0.570584
D14               0.568996
D15               0.526343
M4                0.578245
id_21             0.964231
id_22             0.964162
id_23             0.964162
id_24             0.967088
id_25             0.964419
id_26             0.964204
id_27             0.964162
id_28             0.022568
id_29             0.022568
id_30             0.462224
id_31             0.027393
id_32             0.462079
id_33             0.491871
id_34             0.460560
id_35             0.022519
id_36             0.022519
id_37             0.022519
id_38             0.022519
DeviceType        0.023732
DeviceInfo        0.177262
dtype: float64

In [6]:
df.sample(3)

,TransactionID,isFraud,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist2,P_emaildomain,R_emaildomain,C1,C2,C3,C4,C6,C7,C8,C10,C11,C12,C13,C14,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D12,D13,D14,D15,M4,id_21,id_22,id_23,id_24,id_25,id_26,id_27,id_28,id_29,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
138587,3548273,0,75.000,S,15775,481.0,150.0,mastercard,102.0,credit,330.0,87.0,NaN,NaN,yahoo.com,5.0,3.0,0.0,3.0,0.0,0.0,8.0,3.0,5.0,0.0,61.0,5.0,43.0,43.0,0.0,NaN,NaN,256.0,0.0,27.000,0.000,253.0,NaN,26.0,256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Found,Found,Windows 10,edge 16.0,24.0,1366x768,match_status:2,T,F,T,F,desktop,Windows
116798,3439941,0,13.034,C,16136,204.0,185.0,visa,138.0,debit,NaN,NaN,25.0,hotmail.com,hotmail.com,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,3.0,NaN,M2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New,NotFound,NaN,mobile safari generic,NaN,NaN,NaN,F,F,T,F,mobile,NaN
69416,3183613,0,30.000,S,3786,418.0,150.0,visa,226.0,debit,330.0,87.0,87.0,NaN,gmail.com,1.0,1.0,0.0,2.0,1.0,0.0,3.0,15.0,1.0,0.0,18.0,1.0,326.0,326.0,NaN,NaN,NaN,NaN,NaN,37.125,0.125,NaN,NaN,NaN,0.0,NaN,NaN,252.0,14.0,IP_PROXY:TRANSPARENT,11.0,321.0,169.0,Found,Found,Found,Linux,chrome 63.0,32.0,NaN,match_status:2,T,F,T,T,desktop,NaN

In [7]:
for i in df:
    if df[i].nunique()<5:
        print(i)
        print(df[i].value_counts(dropna=False).head(5))
        print('*'*10)

isFraud
0    132915
1     11318
Name: isFraud, dtype: int64
**********
ProductCD
C    62192
R    37548
H    32908
S    11585
Name: ProductCD, dtype: int64
**********
card4
visa                89299
mastercard          44186
american express     8298
discover             2266
NaN                   184
Name: card4, dtype: int64
**********
card6
credit         75090
debit          68950
NaN              178
charge card       15
Name: card6, dtype: int64
**********
M4
NaN    83402
M2     50300
M0     10109
M1       422
Name: M4, dtype: int64
**********
id_23
NaN                     139064
IP_PROXY:TRANSPARENT      3489
IP_PROXY:ANONYMOUS        1071
IP_PROXY:HIDDEN            609
Name: id_23, dtype: int64
**********
id_27
NaN         139064
Found         5155
NotFound        14
Name: id_27, dtype: int64
**********
id_28
Found    76232
New      64746
NaN       3255
Name: id_28, dtype: int64
**********
id_29
Found       74926
NotFound    66052
NaN          3255
Name: id_29, dtype: int64
**********
id_32
NaN     66647
24.0    53071
32.0    24428
16.0       81
0.0         6
Name: id_32, dtype: int64
**********
id_34
NaN                66428
match_status:2     60011
match_status:1     17376
match_status:0       415
match_status:-1        3
Name: id_34, dtype: int64
**********
id_35
T      77814
F      63171
NaN     3248
Name: id_35, dtype: int64
**********
id_36
F      134066
T        6919
NaN      3248
Name: id_36, dtype: int64
**********
id_37
T      110452
F       30533
NaN      3248
Name: id_37, dtype: int64
**********
id_38
F      73922
T      67063
NaN     3248
Name: id_38, dtype: int64
**********
DeviceType
desktop    85165
mobile     55645
NaN         3423
Name: DeviceType, dtype: int64
**********

Specify columns format

In [8]:
df = df.astype('object')

In [9]:
df.head(1)

,TransactionID,isFraud,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist2,P_emaildomain,R_emaildomain,C1,C2,C3,C4,C6,C7,C8,C10,C11,C12,C13,C14,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D12,D13,D14,D15,M4,id_21,id_22,id_23,id_24,id_25,id_26,id_27,id_28,id_29,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,gmail.com,NaN,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New,NotFound,Android 7.0,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [10]:
num_col = ['TransactionAmt','C1', 'C2', 'C3', 'C4', 'C6', 'C7',
       'C8', 'C10', 'C11', 'C12', 'C13', 'C14','D1', 'D2', 'D3', 'D4', 'D5',
       'D6', 'D7', 'D8', 'D9', 'D10', 'D12', 'D13', 'D14', 'D15']

In [11]:
for i in df:
    if i in num_col:
        df[i] = df[i].astype('float')

In [21]:
df.groupby('isFraud').mean()

,TransactionAmt,C1,C2,C3,C4,C6,C7,C8,C10,C11,C12,C13,C14,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D12,D13,D14,D15
isFraud,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,83.106989,25.284054,30.917203,0.024956,14.710627,14.686868,9.668608,17.933935,18.624489,18.846684,13.378671,19.883362,10.129541,30.507406,126.987775,35.588722,63.292089,53.514462,74.076248,46.804521,157.343727,0.565846,25.601577,55.018611,19.310595,58.148914,57.784713
1,88.810342,57.265948,74.594010,0.000442,26.089857,26.107351,20.427107,36.555487,33.445308,38.124580,31.640573,27.969076,14.846528,15.284867,50.617517,21.438815,42.559951,11.042297,45.404704,11.067337,49.309191,0.520000,3.072632,43.633301,6.497073,54.509921,29.606252

In [12]:
df_num = df.select_dtypes(include='float')

In [17]:
fig = px.imshow(df_num.corr())
fig.show()